[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
e1839a8 = {editable = true,path = "."}
tamago = {path = ".",editable = true}
apex-legends = "*"

[requires]
python_version = "3.6"
